<h1>Create new camp</h1>

<%= form_with model: @camp do |f| %>

  <%= f.collection_select :city_id, City.all, :id, :name %>
  <p>Название турбазы: <br/><%= f.text_field :name %></p>
  <p> <%= f.submit "Добавить турбазы" %></p>

<% end %>