<h3>Редактирование региона</h3>

<%= form_with model: @region do |f| %>

  <p> Выберите страну: <br/>
  <%= f.collection_select :country_id, Country.all, :id, :name %>
  </p>
  <p>Название региона: <br/><%= f.text_field :name, title: "Напишите название региона" %></p>
  <p> <%= f.submit "Сохранить", class: "btn btn-outline-success btn-sm" %></p>

<% end %>