<h2>Регионы</h2>
<% if @region.empty? %>
  <b>Регионов пока нет</b>
<% else %>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
    </tr>
    <% @region.each do |i| %>
      <tr>
        <td><%= i.id %></td>
        <td><%= link_to i.name, region_path(i) %></td>
        <td><%= link_to "Удалить", region_path(i), method: :delete, data: { confirm: "Точно удалить?"} %></td>
      </tr>
    <% end %>
<% end %>
</table>